{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="{% static 'css/style.css' %}" type='text/css' />
    <title>{{ title }}</title> 
    {% block head %}
    {% endblock %}
</head>

<body>
    <header>
    <nav class='menu'>
        <ul>
            <li><a href='/'>Home</a></li>
            <li><a href='#'>Contact</a></li>
            <li><a href='{% url "calendar" %}'>Calendar</a></li> 
            <li><a href='#'>Picture</a></li>
            <li><a href='#'>About</a></li>
        </ul>
    </nav>
    </header>
    <section class='page'>
    
        <div class='left-panel'></div>

             {% block content %}
             
             {% endblock %}
            
        <div class='right-panel'></div>
    </section>

    <footer>

    </footer>
    
</body>
</html>