{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="{% static 'css/style.css' %}" type='text/css' />
    <title>{{ title }}</title> 
</head>

<body>

    <div class='menu'>
        <a href='/'>Home</a>
        <a href='#'>Contact</a>
        <a href='{% url "calendar" %}'>Calendar</a> 
        <a href='#'>Picture</a>
        <a href='#'>About</a>
    </div>

    <div class='page'>
    
        <div class='left-panel'></div>

             {% block content %}
             
             {% endblock content %}
            
        <div class='right-panel'></div>
    </div>

    <footer></footer>
    
</body>
</html>