{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel='stylesheet' href="{% static 'css/barber.css' %}" type='text/css' />
{% endblock %}


{% block content %}

<section class='barber'>

    <div class='barber_title'>

        <p>{{ num }} {{ month }} работают:</p>
        
    </div>

    <div class='barber_work'>
        
        {% for i in barbers %}

                <div class='barber_foto'>
                    <img id='babrber_img' src='{{ MEDIA_URL }}{{ i.foto }}' alt='Фото Мастера' width=300 height=auto loading: lazy>
                    <p>{{ i.name}} {{ i.surname }}</p>
                    <form action='{% url "price" %}' method="post">
                    <button type='submit' name='{{ i.name }}'>Записаться</button>
                    {% csrf_token %}
                    </form>
                </div>
            
        {% endfor %}
    </div>

</section>

{% endblock content %}