{% extends "base.html" %}


{% block content %}

<div id='barber'>

<div class='barber_title'>

    <p>{{ num }} {{ month }} работают:</p>
    
</div>

<div class='barber_work'>
    {% for i in barbers %}

        {% if i.working == True %}

            <div class='barber_foto'>
                <img id='babrber_img' src='{{ MEDIA_URL }}{{ i.barber.foto }}' alt='Фото Мастера'>
                <p>{{ i.barber}} {{ i.barber.surname }}</p>
                <form action='{% url "price" %}' method="post">
                <button type='submit' name='{{ i.barber }}'>Записаться</button>
                {% csrf_token %}
                </form>
            </div>
        {% endif %} 
        
    {% endfor %}
</div>

</div>

{% endblock content %}