{% extends "base.html" %}

{% load static %}

{% block head %}
    <link rel='stylesheet' href="{% static 'css/price.css' %}" type='text/css' />
{% endblock %}

{% block content %}

    <div class="box">

        <table>

            <th colspan='2'>{{ barber }}</th>

                {% for i in price %}
                    <tr>
                        <td>{{ i.name }}</td>
                        <td>{{ i.price }} рублей.</td>
                    </tr>

                {% endfor %}

        </table>

    </div>

{% endblock %}