#barber {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.barber_title {
    font-size: 40px;
    text-align: center;
    color: white;
}

.barber_work {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px;
}

.barber_foto {

    display: flex;
    flex-direction: column;
    margin: 30px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 1cap;
    background-color: white;
    text-align: center;
    
}

.barber_foto img {
    width: 200px;
    height: 200px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 1rcap;
    margin: 20px;
}

.barber_foto p {
    margin-bottom: 40px;
    font-size: 20px;
}