table {
    width: 70%;
    height: 700px;
    margin-bottom: 120px;
    padding-bottom: 20px;
    border-collapse: collapse;
    border: 5px solid black;
    background-color: white;
}

table th {
    border: 2px solid black;
}

table td {
    border: 1px solid black;
    text-align: center;
    width: 60px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 40px;
    transition: .3s ease-in-out;
}

table td:hover {
    background-color: red;
}

caption {
    text-align: center;
    font-size: 40px;
    margin: 20px;
    margin-bottom: 40px;
}

#year {
    height: 25%;
    white-space: nowrap;
    overflow: hidden;
    font-size: 60px;
}

#saturday {
    color: red;
}

#sunday {
    color: red;
}

#year:hover {
    background-color: white;
}

td a {
    text-decoration: none;
    color: black;
    transition: .2s ease-in-out;
}

td a:hover {
    color: white;
}

.form {
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}

