.box {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: column;
}

table {
    margin: 50px 10px;
    width: 100%;
    padding-bottom: 20px;
    border-collapse: collapse;
    border: 5px solid black;
    background-color: white;
}

table td {
    text-align: center;
    border: 1px solid black;
    font-size: 24px;
    padding: 10px;
}

table th {
    border: 1px solid black;
    font-size: 34px;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    margin: 3em;
}

.box-form {
    margin: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: max-content;
    background-color: white;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 2rcap;
}
.btn-input {
    margin: 20px;
    padding: 10px 30px;
    border: 2px solid red;
    border-radius: .7rcap;
    color: white;
    background-color: red;
    font-size: 1.1em;
}

input {
    margin: 20px;
    border: 2px solid red;
    border-radius: .7rcap;
    padding: 1em 1.5em;
    font-size: .9em;
}
select {
    margin: 20px;
    background-color: white;
    border: 2px solid red;
    border-radius: .7rcap;
    padding: 1em;
    font-size: .9em;
}

label {
    font-size: 1.2em;
    margin-right: 1.1em;
}
